# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
myenv/
venv/
ENV/
env/

# Django
*.log
*.pot
*.pyc


# VS Code
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/
